{% extends "base.html" %}

{% block title %}HGR{% endblock %}

{% block content %}
<div style="margin-left:10px;">
    <h1>Hand Gesture Recognition for Social Robotics </h1>
    <p>Con il nostro sistema è possibile riconoscere alcuni <b>gesti</b> effettuati in ambito sociale e nella comunicazione quotidiana. <br>
        Proveremo a far riconoscere al robot <b>Pepper</b> tali gesti grazie alla sua videocamera integrata. <br>
        Inoltre è possibile utilizzare un secondo modello addestrato su un dataset, HaGRID, che permette di riconoscere una selezione più ampia di gesti.<br>
        Per accedere al servizio cliccare sul bottone sottostante o selezionare <i>Webcam</i> dal menu in alto.</p>
        <a href='webcam'><button>Prova il sistema</button></a>
        <a href='pepper'><button>Pepper camera</button></a><br> <br>
        <img src="../static/images/computer-vision-implement.jpg" style="width:609;height:414px;"/>
</div>
{% endblock %}

pepper ip  =  192.168.214.245