{% extends "base.html" %}

{% block title %}HGR{% endblock %}

{% block content %}
<div style="margin-left:10px;">
    <h1>Riconoscimento di gesti sociali per la Robotica Sociale </h1>
    <p>Con il nostro sistema è possibile giocare con il robot Pepper che ci insegnerà alcuni <b>gesti</b> effettuati in ambito sociale e nella comunicazione quotidiana. <br>
        <b>Pepper</b> sarà quindi in grado di mostrarci il gesto scelto e toccherà a noi replicarlo! <br>
        Inoltre è possibile utilizzare un secondo modello addestrato su un dataset, HaGRID, che permette di riconoscere una selezione più ampia di gesti.<br>
        Per accedere al servizio cliccare sul bottone sottostante o selezionare <i>Webcam</i> dal menu in alto.</p>        
        <a href='pepper'><button>Gioca con Pepper</button></a>
        <a href='webcam'><button>Testa il modello ML</button></a>
        <a href='webcam_both'><button>Testa entrambi i modelli</button></a> <br><br>
        <img src="../static/images/computer-vision-implement.jpg" style="width:609;height:414px;"/>
</div>
{% endblock %}
